<!--STYLE SHEETS-->

<link rel="stylesheet" href="../style/navbar.css">
<link rel="stylesheet" href="../style/homepage.css">
<link rel="stylesheet" href="../style/footer.css">
<link rel="stylesheet" href="../style/kontakt.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<header>
    <nav id="head-menue">
        <div class="logo">
            <img class="pic" src="../assets/transparent-logo.png" alt="" height="100px" width="500px">
        </div>
            <div class="logo-mobile">
                <div class="nav-menue">
                    <img class="pic-tr" src="../assets/transparent-logo.png" alt="" height="60px" width="300px">
                        <div id="open-btn" class="burger" onClick="openLinks()">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
            <div id="mobile-nav" class="nav-links-mobile">
                
                <ul>
                    <li><a href="#">Startseite</a></li>
                    <li><a href="#">Leistungen</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Impressum</a></li>
            </ul>
            <div class="nav-icons">
                <div>
                    <a href="https://instagram.com/schoenhaus_bau?utm_medium=copy_link"> <img src="../assets/instagram.png" alt="" height="40px" width="40px"></a>
                </div>
                <div>
                    <img src="../assets/facebook.png" alt="" height="40px" width="40px">
                </div>
            </div>
                <div class="close-btn" onclick="closeLinks()">
                    <a href="#" id="close-btn">^</a>
                </div>
    </div>
        </div>
            <div class="nav-links">
                <li><a href="../index.html">Startseite</a></li>
                <div class="dropdown">
                    <li><a href="#">Leistungen</a></li>
               
                    <div class="dropdown-content">
                        <a href="../components/brandschutz.html">Brandschutz</a>
                        <a href="../components/facility.html">Facility Management</a>
                        <a href="../components/neubau.html">Neubau</a>
                    </div>
                </div>
                <li><a href="../components/kontakt.html">Kontakt</a></li>
                <li><a href="../components/impressum.html">Impressum</a></li>
        </div>     
</nav>
</header>



<div class="placeholder"></div>

 <!--FOOTER-->
 <div id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-kontakt">
            <h2 class="logo-text">Kontakt</h2>
            <p>
                Geschäftsführer: Stevo Nastic <br>
                Adresse: Langstrasse 78, 64546 Mörfelden-Waldorf <br>
                E-mail: info@schoenhaus-bau.de <br>
                Telefon: 0178 - 86 20 580
            </p>
        </div>
        <div class="footer-links">
                <li>Datenschutz <a href="./components/datenschutz.html"></a></li> <p>|</p>
                <li>Impressum <a href="./components/impressum.html"></a></li>
               
        </div>
            <div class="social-media">
                <h2>Social Media:</h2>
                <a href="#" class="fa fa-facebook"></a>
                <a href="https://instagram.com/schoenhaus_bau?utm_medium=copy_link" class="fa fa-instagram"></a>
            </div>
    </div>
        <div class="footer-bottom">
            &copy; Schoenhaus-Bau GmbH | Designed by Schoenhaus-Bau
        </div>
    </div> 