.modernisierung-content{
    height:400px;
}
.modernisierung-content-text{
    margin-top:10%;
    margin-left: 10%;
    text-align: center;
    width:80%;
}
.modernisierung-content-text p{

    font-size: 18px;
   
}

